<div class="mx-auto mt-5">
  <div class="all-show">
    <div class=" left-show">
      <div class="pic">
        #picture
      </div>
      <%= image_tag @post.image, class: "image_size" if @post.image.attached?%>
    </div>
    <div class="left-show mt-5">
      <div class="right-post mb-5">
        <h3>
          <%= @post.title%>
        </h3>
        <strong class="text-success place-size"><%=@post.place%></strong>
      </div>
      <div class="content-size">contents→</div>
      <h3>
        <%= @post.content %>
      </h3>
    </div>
  </div>
  <% if current_user.id == @post.user.id %>
  <div class="element">
    <div class="center">
      <%= link_to  "編集する",edit_post_path(@post), class: "editer" %>
      <%= link_to  "削除する","#", class: "destroy" %>
    </div>
  </div>
  <% end %>
</div>